*.exe
*.suo
*.ide
*.ide-wal
*.config
*.ide-shm
*.pdb
*.scproj
*.cache
*.txt
*.odt
*.csproj
*.json


/code/01_EinordnungCsharp/VS_Example/
/code/01_EinordnungCsharp/gtkExample/
/code/09_OOP_CsharpIII/Interface/bin
/code/09_OOP_CsharpIII/Interface/obj
